@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #ff69b4;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.input-text {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.input-text:focus {
    border-color: #ff69b4;
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
    outline: none;
}

.boton {
    width: 100%;
    padding: 10px;
    background-color: #fa8cc3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #fb0086;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

footer p {
    font-size: 0.9em;
    color: #777;
}

footer a:hover {
    text-decoration: underline;
}
